/* font-family: 'Cairo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

/* h1[data-font="openSans"]{
    font-family: 'Open Sans', sans-serif;
}
h1[data-font="roboto"]{
    font-family: 'Roboto', sans-serif;
}
h1[data-font="cairo"]{
    font-family: 'Cairo', sans-serif;
}

h1[data-color="blue"]{
    color: blue;
}
h1[data-color="green"]{
    color: green;
}
h1[data-color="red"]{
    color: red;
}

h1[data-size="16"]{
    font-size: 16px;
}
h1[data-size="18"]{
    font-size: 18px;
}
h1[data-size="20"]{
    font-size: 20px;
}
h1[data-size="22"]{
    font-size: 22px;
}
h1[data-size="24"]{
    font-size: 24px;
}
h1[data-size="26"]{
    font-size: 26px;
}
h1[data-size="28"]{
    font-size: 28px;
}
h1[data-size="30"]{
    font-size: 30px;
} */



/* .color {
    color : red;
} */